<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Blog App
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <ul class="social-images">
      <li><a href="#"><img src="{% static 'images/facebook.webp' %}" alt="facebook"></a></li>
      <li><a href="#"><img src="{% static 'images/github.png' %}" alt="github"></a></li>
      <li><a href="#"><img src="{% static 'images/instagram.webp' %}" alt="instagram"></a></li>
    </ul>
  </header>
  <nav>
    <a href="{% url 'home' %}">Logo</a>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    </ul>
  </nav>
  <main>
    {% block body %}
    {% endblock %}
  </main>
  <footer>
    <p>@ 2024 </p>
  </footer>
</body>
</html>